[submodule "client"]
    path = client
    url = https://github.com/ojuswisinghal17/to_do_frontent.git

[submodule "server"]
    path = server
    url = https://github.com/ojuswisinghal17/to_do_backend.git